@charset "utf-8";

// fonts
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


* {

}


// global style setting
html,
body,
* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "noto sans tc", "microsoft jhenghei", sans-serif;
}

#wrapper {
  margin: 60px 0px;
}
