@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html,
body,
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "noto sans tc", "microsoft jhenghei", sans-serif;
}

#wrapper {
  margin: 60px 0px;
}
